<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gestion Tickets</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gestion Tickets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text">
                [ user: {{name}} ]
            </span>
        <ul class="navbar-nav mr-auto">
        {{#admin}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/tickets">List Tickets</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/apps">List Apps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/apps/add">Add App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/affect">Affect Ticket</a>
            </li>
        {{/admin}}
        {{#client}}
            <li class="nav-item">
                <a class="nav-link" href="/client/{{id}}/tickets">List Tickets</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/tickets/add">Add Ticket</a>
            </li>
        {{/client}}
        {{#dev}}
            <li class="nav-item">
                <a class="nav-link" href="/dev/{{id}}/tickets">List Tickets</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dev/{{id}}/status">Update Tickets</span></a>
            </li>
        {{/dev}}
            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>
        </ul>
        </form>
    </div>
    </nav>

    <div class="container">
